{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Licorice">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 style="color:#EDF1F1;text-align:center;font-size: 17.5vw;opacity: 40%;padding: 75 0 500px 0;font-family:'Licorice', serif; Cursive;font-style: italic;text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;" class="h1">Amina<br>Ktefan</h1>
<div>
    <div class="row">
      <div class="column">
        <img src="{% static 'home/Ing1.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing2.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing3.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing4.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing5.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing6.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing7.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing8.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing9.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing10.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing11.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing12.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="column">
        <img src="{% static 'home/Ing12.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing11.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing10.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing9.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing8.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing7.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing6.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing5.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing4.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing3.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing2.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="column">
        <img src="{% static 'home/Ing5.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing6.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing7.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing1.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing2.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing3.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing10.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing11.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing12.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing8.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing9.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing4.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="column">
        <img src="{% static 'home/Ing3.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing4.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing5.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing2.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing12.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing10.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing9.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing11.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing8.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing1.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing7.png' %}" class="d-block w-100" alt="...">
        <img src="{% static 'home/Ing6.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
{% endblock %}